replicaCount: 2

image:
  repository: ghcr.io/rso-project-2025-26/planify-notification-service
  tag: main
  pullPolicy: Always

imagePullSecrets:
  - name: ghcr-secret

service:
  type: ClusterIP
  port: 8083
  targetPort: 8083

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 250m
    memory: 512Mi

probes:
  liveness:
    path: /actuator/health/liveness
    initialDelaySeconds: 120
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
  readiness:
    path: /actuator/health/readiness
    initialDelaySeconds: 90
    periodSeconds: 5
    timeoutSeconds: 3
    failureThreshold: 3

config:
  springProfilesActive: "prod"
  serverPort: "8083"
  database:
    url: "jdbc:postgresql://postgres-service:5432/planify"
    schema: "notification"
    poolSize: "10"
    poolMinIdle: "5"
    connTimeout: "30000"
  jpa:
    ddlAuto: "validate"
    showSql: "false"
  oauth2:
    issuerUri: "https://4.185.235.181.nip.io/keycloak/realms/planify"
    jwkSetUri: "http://keycloak-service:8080/keycloak/realms/planify/protocol/openid-connect/certs"
  kafka:
    bootstrapServers: "kafka-service:9092"
    consumerGroup: "notification-service"
    autoOffsetReset: "earliest"
    topics:
      joinRequestSent: "user.join-request-sent"
      joinRequestResponded: "user.join-request-responded"
      invitationSent: "user.invitation-sent"
      invitationResponded: "user.invitation-responded"
      eventAttendanceAccepted: "event-attendance-accepted"
  sendgrid:
    fromEmail: "katarinagojkovick@gmail.com"
    fromName: "Planify Events"
  userService:
    baseUrl: "http://user-service:8082"
    userEndpoint: "/api/users/{id}"
  flyway:
    enabled: "true"
  swagger:
    enabled: "false"
  logging:
    levelRoot: "INFO"
    levelApp: "INFO"
    levelSpringWeb: "WARN"
    levelSpringSecurity: "WARN"
    levelHibernateSql: "WARN"

secrets:
  database:
    username: "planify"
    password: "planify123"
  sendgrid:
    apiKey: ""
  
  vonage:
    apiKey: ""
    apiSecret: ""
    phoneNumber: ""